body {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.top {
    display: flex;
    align-items: center;
    gap: 30px;
}
.arrow {
    height: 100px;
    width: 100px;
    cursor: pointer;
}
.right {
    transform: rotate(180deg);
}
.frame {
    height: 500px;
    width: 800px;
    overflow: hidden;
}
.slider {
    display: flex;
    transition: all 1s ease;
}
.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.button {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid rgb(246, 20, 20);
    cursor: pointer;
}

.bottom {
    display: flex;
    gap: 8px;
}